---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contacto">
    <body>
        <main>
            <h1>Pagina para encontrar mis redes sociales:</h1>
            <nav id="redes">
                <a href="https://instagram.com"
                    ><img src="instagram.png" width="100" height="100" /></a
                >
                <a href="https://youtube.com"
                    ><img src="youtube.png" width="100" height="100" /></a
                >
                <a href="https://twitter"
                    ><img src="twitter.png" width="100" height="100" /></a
                >
            </nav>
        </main>
    </body>
    <style>
        body {
            background-color: gray;
        }
        h1 {
            font-size: medium;
            text-align: center;
            font-style: italic;
        }
        #redes {
            display: flex;
            justify-content: space-between;
            margin: 100px;
        }
    </style>
</Layout>
